<link rel="stylesheet" href="style.css">
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 16px;}
body{font-family:"Cormorant Garamond", serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: red !important;    
}
h1{font-size: 40px;
    margin:24px 0 16px;
    font-weight: 700;
    
}
h2{font-size: 32px;
    margin: 22px 0 14px;
    font-weight: 600;

}
h3{font-size: 26px;
    margin: 20px 0 12px;
    font-weight: 600; 

}
h4{
    font-size: 22px;
    margin: 18px 0 10px;
    font-weight: 500;
}
h5{
    font-size: 18px;
    margin: 16px 0 8px;
    font-weight: 500;
}
h6{
    font-size: 16px;
    margin: 14px 0 6px;
    font-weight: 400;
}ght: 400;
ght: 400;
}